/*Universal*/
* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
/*Header*/
header {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: auto;
}

header img {
    margin-left: 10 px;
    margin-top: 5px;
    height: 50px;
}

header ul {
    margin-left: auto;
}

header ul li {
    display: inline-block;
    
    text-decoration: underline;
    list-style: none;

}
/*Mission*/
.mission {
    margin-top: 70px;
    height: 700px;
    width: 1200px;
    background-color: black;
    background-image: url(../resources/images/img-mission-background.jpg);
    background-repeat: no-repeat;

    padding-top: 200px;
    padding-bottom: 200px;
}
/*Featured Tea*/

/*Location*/

/*Footer*/

/*CopyRight*/