/*Universal*/
* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
/*Header*/
header {
    height: 69px;
    border-bottom: 1px solid seashell;
}

header img {
    margin-left: 10 px;
    height: 50px;
}
/*Mission*/

/*Featured Tea*/

/*Location*/

/*Footer*/

/*CopyRight*/