/*Universal*/
* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
/*Header*/

/*Mission*/

/*Featured Tea*/

/*Location*/

/*Footer*/

/*CopyRight*/